<h1 class="mt-5">Detalhes da cidade</h1>
<ngb-alert *ngIf="alert.type" [type]="alert.type" (closed)="close()">{{
  alert.message
}}</ngb-alert>
<div *ngIf="loading" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="table-responsive">
  <table class="table mt-5" *ngIf="!loading">
    <thead>
      <tr>
        <th width="10%">ID</th>
        <th>Nome</th>
        <th>Estado</th>
        <th width="10%">Sigla</th>
        <th>Prefeito</th>
        <th>População</th>
        <th width="35%" class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ city.CID_ID }}</td>
        <td>{{ city.CID_NOME }}</td>
        <td>{{ city.UF_NOME }}</td>
        <td>{{ city.UF_SIGLA }}</td>
        <td>{{ city.PRE_NOME || "em branco" }}</td>
        <td>{{ city.CID_POPULACAO || "em branco" }}</td>
        <td class="text-right">
          <button class="btn btn-info" (click)="goBack()">Voltar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
