<div class="row mt-5">
  <div class="col-md-12 text-center">
    <h1>Olá</h1>

    <h3>Esse é um teste para uma vaga de frontend para a empresa Mout's</h3>
    <p>Um crud de prefeitos, cidades e estados.</p>
  </div>

  <hr class="mt-5 mb-5" />

  <div class="col-md-12">
    <p>
      O projeto está dividido entre backend e frontend e uma das hospedagens que
      usei foi a Umbler (para ter acesso ao banco de dados MySQL), com uma
      degustação de 7 dias gratis, logo, esse projeto deve ser avaliado o quanto
      antes
    </p>
    <p>
      Como trata-se de uma avaliação com pretensão ao frontend, então eu fiz a
      API meia boca, sem utilizar algum padrão de projeto pois queria ganhar
      tempo! Achei mais válido caprichar no front com o angular. O design também
      não tá dos melhores (por isso usei bootstrap, para ganhar velocidade),
      foquei mais na lógica mesmo.
    </p>
    <h4>Repositórios</h4>
    <ul>
      <li>
        <a
          target="_blank"
          href="https://github.com/diegohyenna/teste-mouts-frontend"
          >Frontend</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://github.com/diegohyenna/teste-mouts-backend"
          >Backend</a
        >
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <h4>Tecnologias Utilizadas</h4>
    <ul>
      <li>Bootstrap</li>
      <li>Angular</li>
      <li>Fetch API</li>
      <li>Mysql</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>Contatos</h4>
    <ul>
      <li>
        <a target="_blank" href="https://dgsite.web.app">Website/Portifolio</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/diegohyenna/">Github</a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/diego-martins-362136123/"
          >Linkedin</a
        >
      </li>
    </ul>
  </div>
</div>
