<h1 class="mt-5">Criar novo prefeito</h1>
<ngb-alert *ngIf="alert.type" [type]="alert.type" (closed)="close()">{{
  alert.message
}}</ngb-alert>
<div *ngIf="loading" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<form *ngIf="!loading" [ngClass]="error ? 'was-validated' : ''" novalidate>
  <div class="form-group">
    <label>Nome</label>
    <input
      class="form-control"
      type="text"
      placeholder="Informe a quantidade da população"
      [formControl]="name"
      required
    />
    <div
      *ngIf="name?.invalid && (name?.dirty || name?.touched)"
      class="text-danger"
    >
      O nome é requerido!
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-success mr-2" (click)="create($event)">Salvar</button
    ><button class="btn btn-info" (click)="goBack()">Voltar</button>
  </div>
</form>
